body{
            background-color: lightslategray;
            display: flex;
            justify-content: center;
            margin: 20px;
        }

        form{
            width: 15%;
            height: 80%;
            font-family: 'Oswald';
            background-color: white;
            padding: 15px;
            border-radius: 15px;
        }

        .submit{
            background-color: green;
        }
        
        .reset{
            background-color: red;
        }

        button{
            color: white
        }

        input{
            margin: 5px;
        }

        h1{
            text-align: center;
        }

        button {
            border: none;
            margin-top: 10px;
            padding: 5px 25px;
            border-radius: 2.5px;
        }